# Week 3 Laboratory
In this Jupyter notebook you will have the opportunity to practice with the Python data types and data structures. Moreover, you can keep familiarising yourself with the Jupyter notebook environment.

## Data types and data structures
We will start with the variable $uni$ which contains a string

In [ ]:
uni = "Robert Gordon University"
print(uni)

In [ ]:
# 1. Use this cell to print the length of the string, as well as the first and last characters
# Hint 1: a string works like a tuple/list of letters
# Hint 2: Negative numbers indicate the index of elements from right to left (i.e. in reverse order)

In Python you can access a "range" of characters by using the *:* symbol. For instance, to access the first two characters in *uni* string, you can use the following command:

In [ ]:
uni[0:2] # characters from position 0 (included) to 2 (excluded)

In [ ]:
# Use this cell to access the 2nd, 3rd and 4th characters

In [ ]:
#Use this cell to access the first five characters

In [ ]:
# Use this cell to access from the third to the last character

In [ ]:
#Use this cell to access the last three characters

Just as with variables containing numbers, we can do operations with variables containing strings. For instance, we can add a string to another.

In [ ]:
uni + ' rocks!'

Which other mathematical operations can you do with strings? Try in the following cell

In [ ]:
# Use this cell to try to use any other mathematical operation with strings
# Hint: you can do a calculation using a string and an int

Now you will work with a list called *squares*, which contains squared numbers from 1 to 5

In [ ]:
squares = [1, 4, 9, 16, 25]
print(squares, type(squares))

You will also work with a list called *things* which contains elements of different types (it even contains the *squares* list

In [ ]:
things = [1, uni, 9.86, False, squares]
things

In [ ]:
# Use this cell to replace the third elements from the squares list into a 9.001

In [ ]:
# use this cell to replace the fifth element of the things list into the squares list

In [ ]:
# Use this cell to add two more squares (36 and 49) to the squares list

In [ ]:
# Use this cell to append the list ['a','b'] to the things list

Just as with numbers, we can compare lists

In [ ]:
# Compare two lists
[1,2,3] == [1,3,3]

In [ ]:
# Use this cell to check if the element 4 is in the squares list
# Hint: You can use the in operator to quickly check

In [ ]:
# Use this cell to delete the third element from the squares list
# Hint: You can use the del operator

As we saw before, a tuple cannot be modified (is immutable), however the values contained can be unpacked into other variables.

In [ ]:
tupthings = (1, uni, 9.86, False, squares)
var1,var2,var3,var4,var5 = tupthings
print(var1,var2,var3,var4,var5)

## Other data structures
### Ranges
Ranges are "lists" of numbers which can be defined with the *range()* function.

In [ ]:
r = range(10)
type(r)

You can convert a range into a list.

In [ ]:
r = list(r)
r

You can also define ranges between numbers using two inputs: the initial and the final value.

In [ ]:
# Use this cell to define a range between 5 (inluded) and 10 (excluded).
# Transform the range into a list to verify the result.

In [ ]:
# Use this cell to define a range between 5 (inluded) and 10 (excluded) with a step of two.
# Hint, the range function accepts the step as a third input.
# Transform the range into a list to verify the result.

In [ ]:
# Use this cell to define a range between 9 (included) and 1 (excluded) in descending order
# Transform the range into a list to verify the result.

### Sets

Sets are unordered collection of elements. These are defined using curly brackets {}

In [ ]:
basket = {'apple', 'orange', 'pear', 'orange', 'banana'}
print(basket)

Notice that even if 'orange' was defined twice, it was only included once in the set.

In [ ]:
# Use this cell to check if there are grapes in the basket

### Dictionaries

Like lists, but indexed with a key.

In [ ]:
dictStudent = {'Name': 'Alex', 'Age': 27, 'Grade': 'A'}
dictStudent

In [ ]:
len(dictStudent)

Instead of the index, you can get an element by using the key.

In [ ]:
# Requesting a specific element from the dictionary by using the key
print(dictStudent['Name'])

## Typing

You may recall from last week's activity that Python has particular rules when it comes to typing numbers into variables. Now that we know more data types and data structures, let's see some other typing rules.

In [ ]:
# Example with integers
x = 3
y = x
print('Value of x is', x)
print('Value of y is', y)

In [ ]:
# Since integers are IMMUTABLE, a new object '2' is created. Python removes the reference y->3 and creates y->2
y=y-1
print('Value of x is', x)
print('Value of y is', y)

In [ ]:
# Example with lists
x = [1,2]
y = x
print('Value of x is', x)
print('Value of y is', y)

In [ ]:
# Since lists are MUTABLE, the command y[0]=0 changed the list as an object, not x!
y[0]=0
print('Value of x is', x)
print('Value of y is', y)

In [ ]:
# Solution: copy
x = [1,2]
y = x.copy()
y[0]=0
print('Value of x is', x)
print('Value of y is', y)